.update_banner_panel .ant-form-item:nth-child(n+2) {
    width: 100%;
    margin-bottom: 16px;}

.update_banner_panel .ant-input-number-affix-wrapper {
    width: 120%;
}

.update_banner_panel {
    width: 100%
}

.update_banner_panel .group_btn button {
    font-weight: 600;
    font-size: 16px;
    height: 48px;
    padding: 4px 30px
}